.login{
    &__content{
        background-color: beige;
        border-radius: 25px;
    }
    &__logo{
        width: 300px;
    }
    &__btn{
        width: 80px;
    }
    &__title{
        font-size: 1.5em
    }
}